<h1>包括的ベンチマーク結果</h1>

<h2>全手法パフォーマンス比較結果</h2>
<% if @duration.is_a?(Hash) %>
  <h3>Pagy 標準版</h3>
  <p><%= sprintf("%.2f", @duration[:pagy_standard][0] * 1000) %> ms (100回実行平均)</p>

  <h3>Pagy Countless</h3>
  <p><%= sprintf("%.2f", @duration[:pagy_countless][0] * 1000) %> ms (100回実行平均)</p>

  <h3>Kaminari 標準版</h3>
  <p><%= sprintf("%.2f", @duration[:kaminari_standard][0] * 1000) %> ms (100回実行平均)</p>

  <h3>Kaminari without_count</h3>
  <p><%= sprintf("%.2f", @duration[:kaminari_without_count][0] * 1000) %> ms (100回実行平均)</p>

  <h3>各手法のSQLクエリ比較</h3>
  <% if @sql_queries %>
    <h4>COUNTクエリあり手法</h4>
    <% if @sql_queries[:pagy_standard] %>
      <p>Pagy 標準:</p>
      <% @sql_queries[:pagy_standard].each do |query| %>
        <pre><%= query %></pre>
      <% end %>
    <% end %>
    <% if @sql_queries[:kaminari_standard] %>
      <p>Kaminari 標準:</p>
      <% @sql_queries[:kaminari_standard].each do |query| %>
        <pre><%= query %></pre>
      <% end %>
    <% end %>

    <h4>COUNTクエリなし手法</h4>
    <% if @sql_queries[:pagy_countless] %>
      <p>Pagy Countless:</p>
      <% @sql_queries[:pagy_countless].each do |query| %>
        <pre><%= query %></pre>
      <% end %>
    <% end %>
    <% if @sql_queries[:kaminari_without_count] %>
      <p>Kaminari without_count:</p>
      <% @sql_queries[:kaminari_without_count].each do |query| %>
        <pre><%= query %></pre>
      <% end %>
    <% end %>
  <% end %>

  <% if @benchmark_results %>
    <h3>詳細ベンチマーク結果:</h3>
    <pre>
<%= @benchmark_results %>
</pre>
  <% end %>
<% else %>
  <p>ベンチマーク結果がありません</p>
<% end %>